<h2><%= @list.titulo %></h2>

<h3><%= @list.projeto %></h3>

<ul>
  <li><%= link_to "Editar", edit_list_path(@list) %></li>

  <li><%= link_to "Excluir", list_path(@list), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Tem certeza?"
                  }%></li>
</ul>

<h3>To do:</h3>
<%= render @list.items%>

<h3>Adicionar item:</h3>
<%= render 'items/form' %>
